@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


.carousel-gradient {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0) 50%);
    z-index: 1;
    pointer-events: none;
}

.carousel-caption {
    z-index: 2;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.transition {
    transition: all 0.3s ease;
}

h1 {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.active {
    color: red;
    font-weight: bold;
}

.img-carta {
    width: 100%;
    height: 250px; /* Altura fija que quieras */
    object-fit: cover;
}

